h1 {
    display: inline-block;
    vertical-align: 35%;
}
 main {
    background-color: rgb(246, 248, 249);
    padding-top: 50px;
 }

 .bg-white {
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 1% 5%;
 }

 .bd-rounded {
    border-radius: 5px;
    color: rgb(204, 209, 214);
    background-color: white;
    border: 1px solid rgb(204, 209, 214) ;
    padding: 5px;
 }

 .bd-rounded:hover {
    background-color: rgb(70, 173, 241);
    color: white;
    border: none;
 }